.Dictionary {
  max-width: 700px;
  margin: 0 auto;
}

.Dictionary .SearchEngine {
  text-align: center;
}

.Dictionary .results-word {
  background-color: #9ec4ca;
}
.Dictionary h2 {
  font-family: "Playfair Display", serif;
}

.Dictionary .SearchEngine {
  width: 100%;
  padding: 10px;
  background-color: #fdf4c8;
  border: 1px solid #9ec4ca;
  border-radius: 25px;
  margin: 0 auto 25px;
  display: block;
}

.Dictionary .PhoneticsAudio {
  background-color: #9ec4ca;
  border: none;
  transform: scale(0.5);
}

.Dictionary .meaning-button {
  background-color: #fdf4c8;
  margin: 20px 0;
  width: 150px;
  border: #9ec4ca 1px solid;
}

.Dictionary .meaning-button:hover,
.meaning-button.active {
  background-color: #9ec4ca;
  color: #fdf4c8;
}

.Dictionary .wrap ol li::marker {
  font-family: "Inter", sans-serif;
  font-weight: 600;
}

.Dictionary .wrap {
  background-color: #fdf4c8;
  border-radius: 15px;
  padding: 20px;
}

.Dictionary .Synonyms {
  margin: 0;
  padding: 0;
}
.Dictionary .Synonyms li {
  display: inline-block;
  margin-bottom: 10px;
  margin-right: 5px;
  border: #9ec4ca 2px solid;
  padding: 1px 20px;
  border-radius: 25px;
  font-weight: 600;
  color: rgba(33, 37, 41, 0.9);
}
